.bg{
    background-image: url('/assets/img/avatar-bride.png');
    background-size: cover;
    height: 100dvh;
    background-position: center;
    filter:drop-shadow( 2px 6px 2px black);
    position: relative;
}
.bg::after{
    content: ""; /* Harus ada untuk pseudo-element */
    position: absolute; /* Memposisikan overlay di atas gambar */
    background-color: rgba(0, 0,0,0.3);
    height: 50dvh;
    top: 50dvh;
    width: 100%;
}