.bubble-container {
    /* position: relative; */
    /* width: 100%; */
    height: 100vh; /* Full screen height */
    overflow: hidden;
    background-color: #f0f0f0; /* Optional, for background */
  }
  
  .bubble {
    position: absolute;
    bottom: -150px; /* Start below the container */
    width: 50px;
    height: 50px;
    /* background-color: rgba(255, 255, 255, 0.9); Default transparent white */
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 1) 100%);

    border-radius: 50%;
    animation: float 10s infinite ease-in;
    opacity: 1; /* Default opacity for the side bubbles */
  }
  
  /* Gelembung tengah lebih transparan */
  .bubble:nth-child(3) {
    width: 70px;
    height: 70px;
    left: 40%;
    animation-duration: 12s;
    opacity: 0.2; /* More transparent for the middle bubble */
  }
  
  /* Gelembung di pinggir tetap dengan opacity 0.3 */
  .bubble:nth-child(2) {
    width: 70px;
    height: 70px;
    left: 20%;
    animation-duration: 8s;
  }
  
  .bubble:nth-child(4) {
    width: 60px;
    height: 60px;
    left: 60%;
    animation-duration: 9s;
  }
  
  .bubble:nth-child(5) {
    width: 80px;
    height: 80px;
    left: 80%;
    animation-duration: 11s;
  }
  
  /* Animasi gelembung bergerak ke atas */
  @keyframes float {
    0% {
      transform: translateY(0);
      opacity: 0.8;
    }
    50% {
      opacity: 0.6;
    }
    /* 70% {
        opacity: 0.3;
    } */
    100% {
      transform: translateY(-100vh); /* Naik setinggi viewport */
      opacity: 0.4;
    }
  }
  