.bgSection{
    background-image: url('/assets/img/bird.jpg');
    background-size: cover;
    background-position: center;
    height: calc(var(--vh, 1vh) * 100);
}
.bgSection::after{
    content: ""; /* Harus ada untuk pseudo-element */
    position: absolute; /* Memposisikan overlay di atas gambar */
    background-color: rgba(0, 0,0,0.3);
    overflow: hidden;
    height: 100%;
    width: 100%;
}