.bg{
    background-image: url('/assets/img/bird.jpg');
    height: 200vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.bg::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    height: 200vh;
    width: 100%;
    /* z-index: 1; */
    top: 0;
}