.bg{
    background-image: url('/assets/img/bird.jpg');
    height: 200dvh;
    background-size: cover;
    background-position: center;
}
.bg::after{
    background-color: rgba(0, 0, 0, 0.4);
    height: 200dvh;
}