@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: sans-serif;
  /* font-size: small; */
  /* overflow: hidden; */
  /* z-index: -1; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

htmk{
  scroll-behavior: smooth;
}

.sacramento{
  font-family: 'Sacramento', cursive;
}

/* Class untuk elemen dengan animasi width */
.expandload {
  width: 0;
  height: 0;
  overflow: hidden;
  animation: expandWidth 1.5s ease-in-out forwards; /* Animasi otomatis saat load */
}

/* Keyframes untuk animasi dari width 0% ke 100% */
@keyframes expandWidth {
  from {
    width: 0;
    height: 0;
  }
  to {
    height: 85%;
    width: 75%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Mulai dari 0 derajat */
  }
  to {
    transform: rotate(360deg); /* Berputar hingga 360 derajat */
  }
}

.rotate-icon {
  animation: spin 2s linear infinite; /* Berputar selama 2 detik secara linear dan terus menerus (infinite) */
}