.bg{
    background-image: url('/assets/img/bird.jpg');
    height: 300dvh;
    background-size: cover;
    background-position: right;
    object-fit: cover;
    position: relative;
    padding-top: 30%;
    padding-bottom: 30%;
}
.bg::after{
    content: '';
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 300dvh;
    width: 100%;

}